.card h1{
color:#f97316;
font-size:40px;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{

background:
linear-gradient(rgba(249,115,22,.65),rgba(253,186,116,.65)),
url("../../Images/ss.jpeg");

background-size:cover;
background-position:center;
min-height:100vh;

}

.top-bar{

position:fixed;
top:0;
width:100%;
height:60px;

background:rgba(249,115,22,.95);

display:flex;
justify-content:center;
align-items:center;

color:white;
font-size:22px;
font-weight:bold;

}

.bottom-bar{

position:fixed;
bottom:0;
width:100%;
height:40px;

background:rgba(249,115,22,.95);

display:flex;
justify-content:center;
align-items:center;

color:white;

}

.container{

width:90%;
max-width:1200px;

margin:90px auto 70px;

}

.welcome-card{

background:white;

padding:20px;

border-radius:12px;

display:flex;

justify-content:space-between;

align-items:center;

box-shadow:0 5px 20px rgba(0,0,0,.15);

margin-bottom:25px;

}

.date-box{

color:#f97316;

font-weight:bold;

}

.cards{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:20px;

margin-bottom:25px;

}

.card{

background:white;

padding:25px;

border-radius:12px;

text-align:center;

box-shadow:0 5px 20px rgba(0,0,0,.15);

}

.card h3{

color:#666;

margin-bottom:10px;

}

.card h1{

color:#f97316;

font-size:40px;

}

.chart-card{

background:white;

padding:20px;

border-radius:12px;

box-shadow:0 5px 20px rgba(0,0,0,.15);

margin-bottom:25px;

}

.buttons{

display:flex;

gap:20px;

justify-content:center;

}

.orange-btn{

text-decoration:none;

background:linear-gradient(135deg,#f97316,#fdba74);

padding:13px 35px;

color:white;

font-weight:bold;

border-radius:8px;

transition:.3s;

}

.orange-btn:hover{

transform:translateY(-3px);

}